
 
 h1, h2, h3, h4, h5, h6, nav{
    font-family: 'Noto Sans SC', sans-serif;
	color:black;
}

p, footer, form {
    font-family: 'PT Sans Narrow', sans-serif;
    color:black;
}

img {
    max-width: 100%;
    max-height:100%;
  }



a {font-family: 'Noto Sans SC', sans-serif;
    text-decoration: none;
}

/* contains the nav  */
/* .header{
display:flex;
flex-direction:row;
justify-content:flex-end;
} */

/* centers all of the divs */
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* width:960px;
margin: auto; */
}
/* begin nav */
.single-nav {
background-color: white;
display:flex;
width: 75%;
justify-content:flex-start;
list-style-type: none;
font-family: 'Noto Sans SC', sans-serif;
font-size: 1em;

}
.navSection{ 
    display:flex;
    justify-content: flex-end;
    width: 100%;
    
}
.navItem{
margin: .3em;

}
.myName{
    width:100%;
  

}

.single-nav .navSection a {
    display: block;
    text-decoration: none;
    color: black;

}
    .single-nav .myName a {
    text-decoration: none;
    color: black;

}


/*     
.menustyle ul {
    list-style-type: none;
    margin: 0;
  }
    .menustyle li a {
        display: block;
        text-decoration: none;
        color: #cccccc;
        padding:.5em 1em;
    } */
    
    
    
    .hamburger {
        display: none;
      }
/* content box */
.main_content{
    max-width: 75%;
    background-color:white;
    border: .5px solid #cccccc;
    margin-top: 100px;
}
.lineh1{ 
   padding:30px;
    max-width: 800px; 
    margin: auto;
    border-bottom: 2px solid #cccccc;
    font-size: 30px;
}
.float {
    float: left;
    padding:5px;
}
.footer{
    background-color:orange;
    margin: auto auto 0 auto;
    text-align:center;
    padding-top: 2em;
    margin-top: 7em;
    border-top: 5px solid #11a099;}

/* Gallery */
.gallery{
    width: 80%;
    background-color: white;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
}

    .gallery-item {
        margin: 10px;
        text-decoration: none;
    }
    .text-wrapper {
        margin: .2%;
        width: 40%;
        padding-top: 12.5px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        color:black;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        
    }
    .text-wrapper:hover {
      background:#cccccc;
      opacity: 1;
    }
    .technologies {
        font-family: 'PT Sans Narrow', sans-serif;
        color: black;
    }
    /*Form*/
    
    .myForm {
        display: flex;
        width: 75%;
        padding: 1.8em;
      }
      .message {
       margin-right: 2em; 
       display: flex;
       flex-direction: column;

      }
      .message > textarea {
       flex: 1; 
       min-width: 85%;
       /* min-width: 18em; */
       /* max-width: 870px; */
      }
      .contact {
        width: 85%;

           /* flex: 1;  */
      }
      .contact input {
      width: 85%;
      }
      .contact input,
      .contact button {
        padding: 1em;
        margin-bottom: 1em;
      }
      .contact button {
       background: #11a099;
       color: white;
       border: 0;
       margin-top: 10%;
      }

     /* begin media querries */

    /* iPhone X specific */
      @media screen and (device-width : 375px) {
        .single-nav{ 
            max-width: 100%;
        }
        .main_content{
            max-width: 100%;
        }
        .gallery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
         .text-wrapper {
            width: 100%;
            background-color: green;

        }  
        /* nav */
        .single-nav {
            flex-direction: column;
            width: 100%;
           
          }
          .myName{
              align-self: flex-start;
            }
          .navSection {
            display:none;
          }

          .hamburgerShow {
            display: flex;
          }

        .hamburger {
            align-self: flex-end;
            display: initial;
            position: absolute;
            cursor: pointer;
          }
        }

        
      /* @media (max-width: 640px){
        body{ 
            background-color:black;
        }
        .center{
            width: 440px;
        }
      @media (max-width: 768px){
        body{ 
            background-color:black;
        }
        .center{
            width: 600px;
        }
          
            }
        } */
    