
body, html { 
    height: 100%;
    font-family: 'Archivo Narrow', sans-serif;

} 

a{
    color: black;
    font-variant: small-caps;

    
}




#hero-image{
background-image: url("./../images/Bridge.jpg");
height: 100vh;
position: relative;
background-position: center;
background-repeat: no-repeat;
background-size:cover;
background-attachment: fixed;
z-index:1;



}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -110%);
    color:white;

    font-family: 'Archivo Narrow', sans-serif;
    
    }

#about{
    /* content: ''; */
 font-size: 3em;
 background-color:rgb(223, 186, 20);
 padding:.5em;


}
.slide{
    padding:.7em;
    
  
}
.slide-img{
    float: left;
    padding-right:.5em;
}
.slide-text{
    font-size: 2em;
    padding: .5em;
}
.centerHeader{
text-align: center;


}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/* .parallax {
position: relative; */
/* height: 300px;  */


/* centers all of the divs */
/* .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */
/* begin nav */
/* .single-nav {
background-color: white;
display:flex;
width: 75%;
justify-content:flex-start;
list-style-type: none;


} 
.navSection{ 
    display:flex;
    justify-content: flex-end;
    width: 100%;
  
    
} 
 .navItem{
margin: .3em;

}
.myName{
    width:100%;
  

}

.single-nav .navSection a {
    display: block;
    text-decoration: none;
    color: black;

}
    .single-nav .myName a {
    text-decoration: none;
    color: black;

}
.navText{
    font-size: 1em;

} 
 .fixed {
    position: fixed;
    top:0; 
    margin: auto;
    width: 75%; } */



/* content box */
/* .main_content{
  max-width: 75%;
    margin-top: 100px; 
    position: absolute;
 top:100%; 
     height: 100vh; 
    margin: -5em 0 0 0; 
    padding: 1em;
    text-align: left;
    font-size: 2em;
    color: #333;
    transform:translateY(50%);
    z-index:2;
}

.float {
    float: left;
    padding:5px;
}  */


/* Portfolio Gallery */
  /* .gallery{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    align-items:flex-start;
    flex-direction: row;
    justify-content: space-between;
    margin:auto;
}

    .gallery-item {
        margin: 10px;
        text-decoration: none;
    } 

 /* .text-wrapper {
        margin: .2%;
        width: 40%;
        padding-top: 12.5px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        color:black;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        
    }
    .text-wrapper:hover {
      background:#cccccc;
      opacity: 1;
    }
    .technologies {
        font-family: 'PT Sans Narrow', sans-serif;
        color: black;
    }   */
   

     /* begin media querries */

    /* iPhone X specific */
      /* @media screen and (device-width : 375px) { */
         /* nav */
         /* .single-nav {
            flex-direction: column;
            width: 100%;}
        .navSection  {
            flex-direction: column;
            width: 100%;
        }
        .myName {
            font-size: 2em;
        }
        .main_content{
            max-width: 100%;
        }
        .gallery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
         .text-wrapper {
            width: 100%;

        }  
    } */ 
      
      
        /* iPhone 8+ specific */
       
        @media only screen and (device-width : 414px)  { 
            .hero-text{
                text-align: center;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-60%, -40%);
                color:white;
                font-family: 'Archivo Narrow', sans-serif;
           
        }
        .slide-img{
            float: none;
           margin:auto;
           max-height: 350px;

        }
        .slide-text{
            font-size: .7em;
            padding: .5em;
        }
    }
        @media (max-width: 640px){
            
        /* .single-nav {
            flex-direction: column;
            width: 100%;
        }
        .navSection  {
            flex-direction: column;
            width: 100%;
        } 

        .myName {
            font-size: 2em;
        }

        .center{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .single-nav{ 
            max-width: 100%;
        }
        .main_content{
            max-width: 100%;
        }
        .gallery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
         .text-wrapper {
            width: 100%;

        }   */
    
    } 
    @media (max-width: 768px){
        /* .single-nav {
            flex-direction: column;
            width: 100%;
        }
        .navSection  {
            flex-direction: column;
            width: 100%;
        } 

        .myName {
            font-size: 2em;
        }

        .center{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .single-nav{ 
            max-width: 100%;
        }
        .main_content{
            max-width: 100%;
        }
        .gallery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
     
         .text-wrapper {
            width: 100%;

        }   */
    
    } 
            